@use "_colors" as c;
@use "_mixins" as m;

// WEIGHT : 100/300/400/500/700/900

.cards-container {
  display: flex;
  justify-content: center;
  gap: 40px;
  max-width: 1500px;
  flex-wrap: wrap;
  margin: 40px 0;
}

.card-wrapper {
  // @include m.b;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #202132;
  width: 320px;
  height: 490px;
  border-radius: 25px;
}

.picture {
  box-sizing: content-box;

  min-width: 70px;
  min-height: 70px;

  width: 70px;
  height: 70px;

  overflow: hidden;

  border-radius: 50%;
  border: 10px solid c.$soft-white;
}

.picture img {
  width: 100%;
  height: auto;
}

.info-wrapper {
  // @include m.b;
  display: flex;
  padding: 15px 0;
  color: azure;
  align-items: center;
}

.members,
.online {
  display: flex;
  align-items: center;
  font-size: 12px;
  margin: 0 10px;
  font-weight: 600;
  background-color: rgb(3, 141, 141);
  padding: 5px 12px;
  border-radius: 5px;
}

.info-icon {
  margin-right: 5px;
}

.server-name {
  // @include m.b;

  padding-bottom: 10px;
  font-size: 22px;
  font-weight: 800;
  color: c.$soft-white;
}

.description {
  padding: 15px 20px;
  font-size: 15px;
  font-weight: 500;
  color: c.$soft-white;
}

.join-button {
  cursor: pointer;
  color: c.$soft-white;
  background-color: c.$accent;
  letter-spacing: 0.5px;
  font-weight: 700;
  padding: 8px 16px;
  border-radius: 50px;
  margin: 10px 0;
}

.bump {
  padding: 10px;
  color: c.$soft-white;
  font-size: 14px;
  font-weight: 400;
}

// Card animated border
.gradient-border {
  --border-width: 3px;

  position: relative;
  border-radius: 16px;

  &::after {
    position: absolute;
    content: "";
    top: calc(-1 * var(--border-width));
    left: calc(-1 * var(--border-width));
    z-index: -1;
    width: calc(100% + var(--border-width) * 2);
    height: calc(100% + var(--border-width) * 2);
    background: linear-gradient(
      60deg,
      hsl(203, 85%, 66%),
      hsl(224, 85%, 66%),
      hsl(269, 85%, 66%),
      hsl(314, 85%, 66%),
      hsl(359, 85%, 66%),
      hsl(179, 85%, 66%)
    );
    background-size: 300% 300%;
    background-position: 0 50%;
    border-radius: calc(2 * 9px);
    animation: moveGradient 6s alternate infinite;
  }
}

@keyframes moveGradient {
  50% {
    background-position: 100% 50%;
  }
}

/* 

  background: linear-gradient(
      60deg,
      hsl(224, 85%, 66%),
      hsl(269, 85%, 66%),
      hsl(314, 85%, 66%),
      hsl(359, 85%, 66%),
      hsl(44, 85%, 66%),
      hsl(89, 85%, 66%),
      hsl(134, 85%, 66%),
      hsl(179, 85%, 66%)
    );

*/

// Pulse animation
.pulse {
  animation: pulse-animation 2s infinite;
  border-radius: 50px;
}

@keyframes pulse-animation {
  0% {
    box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.4);
  }
  100% {
    box-shadow: 0 0 0 15px rgba(255, 255, 255, 0);
  }
}
