@use "_colors" as c;
@use "_mixins" as m;

.cards-container {
  @include m.b;
  display: flex;

  justify-content: center;
  gap: 40px;
  max-width: 1500px;
  flex-wrap: wrap;
}

.card-wrapper {
  @include m.b;
  width: 320px;
  height: 480px;
  border-radius: 25px;
}
