////////////// Palette //////////////

// Dark (main)
$bg-main: #181927;
$secondary: #fb8500;
$accent: #ff4081;
$accent-secondary: #8ecae6;
$headset-blue-logo: #29b6f6;
$headset-blue-logo-darker: #2794c7;

// Colors #tags (card)
$t1: #00c7ba;
$t2: #29b6f6;
$t3: #06b900;
$t4: #fe693a;
$t5: #512da8;
$t6: #d500f9;
$t7: #ffa726;

// Text
$text: #fff;
$soft-white: #fefefe;
