@use "_colors" as c;
@use "_mixins" as m;

.info-error {
  //   @include m.b;
  padding: 30px;
  max-width: 500px;
  border-radius: 10px;
  font-weight: 500;
  background-color: #ff408051;
  color: #ff98badc;
}

.btn-action-error {
  cursor: pointer;
  text-decoration: underline;
  transition: 0.4s ease;
}

.btn-action-error:hover {
  color: #fae7eedc;
}

.page-not-found {
  color: #fae7eedc;
}
