@use "_colors" as c;
@use "_mixins" as m;

// 100/300/400/500/700/900

.hashtag {
  margin: 5px;
  color: c.$soft-white;
  font-size: 13px;
  font-weight: 700;
}

.tags-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
