@use "_colors" as c;

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin b {
  border: 1px solid #0bf517;
}

@mixin noselect {
  user-select: none; /* Standard syntax */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}
